/* --- Toast animations --- */

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-10px); }
    100% { opacity: 1; transform: translateY(0);}
}

@keyframes fadeOut {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-10px); }
}

@keyframes progress {
    0% { transform: scaleX(1); }
    100% { transform: scaleX(0); }
}

.fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}

.fade-out {
  animation: fadeOut 0.3s ease-in forwards;
}

.progress {
  animation: progress linear forwards;
  transform-origin: left;
}


/* --- Wave animations --- */

@keyframes waveOscillate {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(0);
  }
}

.wave1 { animation: waveOscillate 8s ease-in-out infinite; }
.wave2 { animation: waveOscillate 10s ease-in-out infinite; }
.wave3 { animation: waveOscillate 12s ease-in-out infinite; }
.wave4 { animation: waveOscillate 14s ease-in-out infinite; }
.wave5 { animation: waveOscillate 16s ease-in-out infinite; }


/* --- Button Pop animations --- */

@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1); }
}

.button-pop:hover {
  animation: pop 0.4s ease-in-out;
}


/* --- Button Bounce animations --- */

@keyframes bounceClick {
  0% { transform: scale(1); }
  30% { transform: scale(0.9); }
  60% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.button-bounce:active {
  animation: bounceClick 0.3s ease-in-out;
}


